@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

#navigation {
	text-align: center;
	font-family: arial;
	padding: 20px;
}



body {
    font-family: 'Arbutus Slab';font-size: 22px;
}
html {
   background-color: lightblue;
}
h3 {
  color: #E6970D;
}
.maininfo {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}
